@using PureLib.Common
@using WhereAreThem.Model
@using WhereAreThem.Viewer.Models
@model Dictionary<object, string>
@{
    string machineName = ViewBag.MachineName;
    ViewBag.Title = Extensions.SearchResult;
}

@using (Html.BeginForm()) {
    <div class="header">
        @Html.TextBox("searchPattern", null, new { @class = "search" })
        <div class="navigation">
            <div class="machineName">
                <a href="@Url.Action(Extensions.Explorer, new { machineName = machineName })">@machineName</a>
            </div>
            <div class="navigationItem">
                <span class="icon separator"></span>
            </div>
            <div class="navigationItem">
                Search Results in 
            </div>
        </div>
    </div>
}

<table class="explorer">
    <thead>
        <tr>
            <th class="name">Name</th>
            <th class="size">Size</th>
            <th class="location">Location</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0) {
            <tr>
                <td colspan="4"><div class="empty">Empty</div></td>
            </tr>
        }
        else {
            foreach (var p in Model) {
                <tr>
                    @if (p.Key is Folder) {
                        Folder f = (Folder)p.Key;
                        <td>
                            <a href="@Url.Action(Extensions.Explorer, new { machineName = machineName, path = "{0}/{1}".FormatWith(p.Value, f.Name) })">
                                <span class="icon folder iconText">@f.Name</span>
                            </a>
                        </td>
                        <td></td>
                    }
                    else {
                        WhereAreThem.Model.File f = (WhereAreThem.Model.File)p.Key;
                        <td>
                            <span class="icon file iconText">@f.Name</span>
                        </td>
                        <td class="nowrap">@Utility.ToFriendlyString(f.Size)</td>
                    }
                    <td class="location">
                        <a href="@Url.Action(Extensions.Explorer, new { machineName = machineName, path = p.Value })">
                            <span class="item">@p.Value</span>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        var location = getUrlParameter('path');
        $('div.navigationItem:last').append('<a href="' + location + '"><span>' + location + '</span></a>');
    });
</script>