@using System.Configuration;
@using WhereAreThem.WebViewer.Models;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/site")
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>WhereAreThem</h1>
            </div>
            <div id="logindisplay">
                @(User == null ? string.Empty : User.Identity.Name)
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a class="changeView" href="#">Change View</a></li>
                </ul>
                <ul id="explorerViewMenu" class="contextMenu">
                    @foreach (ExplorerView view in Enum.GetValues(typeof(ExplorerView))) {
                        <li>
                            @Html.ActionLink(view.ToString(), "ChangeView", "Home", new { view = view }, null)
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>

    @Scripts.Render("~/js/site")
</body>
</html>
