<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content(string.Format("{0}://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js", Request.IsSecureConnection ? "https" : "http"))" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.explorer.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1></h1>
            </div>
            <div id="logindisplay">
                @(User == null ? string.Empty : User.Identity.Name)
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Toggle View", "ToggleView", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
